*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --primary-color: #F4f4f4;
    --text-color: #576366;
    --button-color: #00838f;
    --g-white: #edeff0;
}

.dark{
    --primary-color: #3C4750;
    --text-color: #edeff0;
    --button-color: #BC658D;
    --g-white: #edeff0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 320px;
    height: auto;
    padding: 20px 0;
    position: relative;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.container img{
    margin-top: 30px;
    width: 320px;
}

.details{
    padding: 20px;
}
.details h3 {
    font-size: 23px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 32px;
}
.details button{
    padding: 10px 30px;
    margin-top: 20px;
    border: 0;
    font-weight: 800;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--g-white);
    font-size: 15px;
}

.box{
    position: absolute;
    right: 25px;
    top: 15px;
}
.check{
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #3C4750;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 20px;
	width: 40px;
	transform: scale(1.5);
}

.ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: .5px;
	left: 2px;
	height: 17px;
	width: 17px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.check:checked + .label{
	background-color: #fff;
}

.check:checked + .label .ball {
	transform: translateX(18px);
	background-color: #00838f;
}

@media(min-width: 768px){
    .container{
        display: flex;
        padding: 0;
        width: 900px;
    }
    .container img{
        margin-top: 0px;
        width: 320px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .details{
        padding-top: 50px;
    }
}